{% extends 'logistic_service/base.html' %}
{% load static %}

{%block HeaderBlock%}

{%endblock%}

{% block title %}
    {% comment %} TODO Вот таким способом передается title в качестве переменной. {% endcomment %}
    {{title}} 
{% endblock %}

{% block MainContent %}
<div class="col-md-8 container">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        ООО "ТрансЛогистик"
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Работаем в Уфе уже 2 года</h2>

        <p>Наша компания была основана в 2020 году, и с тех пор стала лидером в области доставки товаров по Республике Башкортостан.</p>
        <hr>
        <p>ТрансЛогистик — это более 140 000 квадратных метров автоматизированных складов непрерывного цикла, 10 филиалов в Республике Башкортостан. Более 50 автомобилей осуществляют более 1 000 ежедневных доставок в более чем 15 городов.</p>
        <h3>ПРИНЦИПЫ ТРАНСЛОГИСТИК</h3>
        <p>Повышать качество жизни и безопасность людей, упрощая и оптимизируя процесс доставки товаров. Для этого ТрансЛогистик поставил перед собой задачу — поставлять качественные товары наиболее быстрым, безопасным и удобным для клиента способом.</p>
        </article>
    </div>
{% endblock %}