{% extends 'logistic_service/base.html' %}
{% load static %}

{%block HeaderBlock%}
    <link rel="stylesheet" href="{% static 'css/rows.css'%}">
{%endblock%}

{% block title %}
    {{title}}
{% endblock %}

{% block MainContent %}

<div style='display: flex'><label for='id_user'>Пользователь: </label><p id='id_user'>{{user}}</p></div>

<div class="container">
    <div class="row mb-3">
      <div class="col-4 themed-grid-col">Номер заказа</div>
      <div class="col-4 themed-grid-col">Дата</div>
      <div class="col-4 themed-grid-col">Статус</div>
    </div>

    <div class="row mb-3">
      {% for order in orders %}
        <div class="col-sm-4 themed-grid-col">{{ order.id }}</div>
        <div class="col-sm-4 themed-grid-col">{{ order.date }}</div>
        <div class="col-sm-4 themed-grid-col">{{ order.state }}</div>
      {% endfor %}
    </div>
</div>
{% endblock %}