{% extends 'logistic_service/base.html' %}
{% load static %}

{%block HeaderBlock%}

{%endblock%}

{% block Title %}
    Регистрация
{% endblock %}

{% block MainContent %}
    <h1 class="text-center">Регистрация</h1>
    <p class="text-center">Пожалуйста, зарегистрируйтесь</p>
    <form action="." class="pricing-header p-3 pb-md-4 mx-auto" method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p class="text-center"><input class="w-50 btn btn-lg btn-primary" type="submit" value="Зарегистрироваться"></p>
    </form>

{% endblock %}